@import "vars";
@import "mixins";

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body {
  background-color: #eee;
  box-sizing: border-box;
}

.list-item {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.link {
  @include reset-link;
  cursor: pointer;
  &:hover {
    color: $orange;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

img {
	max-width: 100%;
	height: auto;
}

.photo {
  border: 5px solid $snow;
}

.wrapped {
  & > * {
    $paddingVal: 40px;
    padding-left: $paddingVal;
    padding-right: $paddingVal;
  }
}

.block {
  $paddingVal: 120px;
  & > section {
    padding-top: $paddingVal;
    padding-bottom: $paddingVal;
  }

  & > section:last-of-type {
    padding-bottom: $paddingVal / 2;
  }
}

.mt30 {
  margin-top: 30px;
}

.mb70 {
  margin-bottom: 70px;
}
