$pageWidth: 1200px;

$descSize: 1013px;
$tabletSize: 760px;
$mobileSize: 440px;
$smallSize: 380px;

// Media queries
$desc: "only screen and (max-width: #{$descSize})";
$more-desc: "only screen and (min-width: #{$descSize + 1})";
$tablet: "only screen and (max-width: #{$tabletSize})";
$more-tablet: "only screen and (min-width: #{$tabletSize + 1})";
$mobile: "only screen and (max-width: #{$mobileSize})"; 
$more-mobile: "only screen and (min-width: #{$mobileSize + 1})";
$small: "only screen and (max-width: #{$smallSize})";
$more-small: "only screen and (min-width: #{$smallSize + 1})";