@import "../base/vars";
@import "../base/mixins";

.about {
  &__img {
    float: left;
    width: 30%; // От своей собственной ширины
  }

  &__text {
    columns: 2 200px;
  }

  &__text-block {
    margin-left: 30px;
    break-inside: avoid;
    page-break-inside: avoid;
  }

  background-color: $snow;

  @include clearfix;
}
