.cards {
  &__tabs {
    margin: 30px 0;
  }

  .cards-deck {
    &__item {
      width: 270px;
      margin-right: 30px;
      margin-bottom: 30px;
      position: relative;
      cursor: pointer;

      img {
        height: 100%;
      }
    }
  }
}

.popup-block {
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 0;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__title {
    margin-bottom: 0;
  }

  &__text {
    margin-top: 10px;
  }
}
