@import "../base/vars";

.prior-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  align-items: center;

  &__menu-item {
    display: inline-block;
    margin-right: 20px;
  }

  &__link {
    &:hover {
      color: $orange;
    }
  }
}
