footer.footer.wrapped.block.column
  .footer__copyright.
      &copy; Copyright. All rights reserved | Designed by
      #[a(href="http://www.templatewire.com", class="link footer__link") TemplateWire]
        
      
      
        
