footer.footer.wrapped.block
  .contact.text-theme-canvas
    h2 Contact Us
    p.text-center.mt30.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
        
