header.header.wrapped
  nav.prior-nav.bg-theme-ground
    a.logo <i class="icon fa fa-paper-plane-o"></i>Modus

    ul.prior-nav__main-menu.main-menu
      - 
        var listNames = {
          'About': '#about',
          'Services': '#services',
          'Portfolio': '#portfolio', 
          'Team': '#team', 
          'Testimonials': '#testimonials',
          'Contact': '#contact'
          };
      each address, name in listNames
        li.prior-nav__menu-item
          a(href=address).main-menu__link.prior-nav__link=name

  .intro
    h1 We are 
      span.mark Modus
    p.intro__description A full-service digital agency that loves what we do
    
    button.button.intro__button Learn More
