main.main.wrapped
  .about.text-theme-canvas
    h2.about__title About us
    
    .about__img
      img(src="imgs/about.jpg", width="600", height="400", alt="conversation")
    
    .about__text
      .about__text-block
        h3 Who We Are
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Duis sed dapibus leo nec ornare diam. Sed commodo nibh 
          ante facilisis bibendum dolor feugiat at. 
          Duis sed dapibus leo nec ornare diam commodo nibh.        
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Duis sed dapibus leo nec ornare diam. Sed commodo nibh 
          ante facilisis bibendum.
    
      .about__text-block
        h3 What We Do
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Duis sed dapibus leo nec ornare diam. Sed commodo nibh 
          ante facilisis bibendum dolor feugiat at. 
          Duis sed dapibus leo nec ornare diam commodo nibh.        
        
        ul.checklist
          -
           var listNames = ['Lorem ipsum dolor sit amet',
           'Consectetur adipiscing commodo',
           'Duis sed dapibus leo sed dapibus',
           'Sed commodo nibh ante bibendum'];
          
          each val in listNames
            li=val
  
  .services.text-theme-image
    h2 Our services
    
    .services__icon-text-table.icon-text-table
      -
        // Title: classname
        var icons = {
          'Web Design': 'fa-desktop',
          'Web Development': 'fa-cogs',
          'App Design': 'fa-tablet',
          'PSD to HTML5': 'fa-html5',
          'WordPress': 'fa-wordpress',
          'Marketing': 'fa-bullhorn',
          'Branding': 'fa-rocket',
          'Print Design': 'fa-leaf',
        }
        
      each val, key in icons
        .services__icon-text-item.icon-text-item
          .icon-text-item__img
            i(class="icon fa " + val)
          h3.icon-text-item__title=key
          p.icon-text-item__description.
            Lorem ipsum dolor sit amet placerat facilisis 
            felis mi in tempus eleifend pellentesque 
            natoque etiam.
  
  .portfolio.text-theme-canvas
    h2 Our portfolio
    p(class="text-center").
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
    
    .cards
      .tabs
        -
          var tabLinkNames = ['All', 'Web Design',
          'Web Development', 'Branding'];
        each val in tabLinkNames
          a(href='#').tab-link=val
            
